body {background-color: rgb(113, 206, 167);
    opacity: 100%;
    background-image: url("https://wallpaperaccess.com/full/1567666.png");
  }

h1 {
  color: white;
  margin: 50px;
  font-size: 300%;
  text-align: center;
}

p {
  color: rgb(255, 255, 255);
  font-family: verdana;
  font-size: 200%;
  text-align: center;
}

h2 {
  color: white;
  font-size: 400%;
  margin: 50px;
}

div.myFace {
 text-align: center;
 width: 100%;
 height: auto;
}

button {
  margin: 50px;
}

button.highlights:hover {
  transform: scale(1.2,1.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.footer {
  width: 100%;
  color: rgb(128, 226, 189);
  font-family: verdana;
  font-size: 150%;
  text-align: center;
  height: 200px;
}

p3 {
  color: white;
}