body {background-color: rgb(113, 206, 167);
    opacity: 100%;
    background-image: url("https://wallpaperaccess.com/full/1567666.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

.title {
  color: white;
  margin: 50px;
  font-size: 300%;
  text-align: center;
}

.about {
  color: rgb(255, 255, 255);
  font-family: verdana;
  font-size: 200%;
  text-align: center;
}

.sideTitle {
  color: white;
  font-size: 400%;
  margin: 50px;
}

.myFace {
 text-align: center;
 width: 100%;
 height: auto;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  background-color: teal;
  width: 500px;
  height: 600px;
}

.column {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.icon {
  position: absolute;
  top: 255px;
  left: 125px;
  z-index: 3;
}

.single-img {
  position: absolute;
  top: 10px;
  left: 14px;
  z-index: 2;
}

.label {
  position: absolute;
  /* padding: 0 20px 20px; */
  top: 350px;
  left: 125px;
  text-align: center;
  color: black;
  font-size: 200%;
  z-index: 4;
}

.mini {
  position: absolute;
  padding: 0 20px 20px;
  top: 400px;
  left: 25px;
  color: rgb(0, 0, 0);
  z-index: 4;
}

.column {
  position: relative;
} */

/* .single-img:hover {
  transform: scale(1.2,1.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
} */

.footer {
  background-color: teal;
  width: 100%;
  text-align: center;
  color: rgb(128, 226, 189);
  font-family: verdana;
  font-size: 150%;
}

.subfooter {
  color: rgb(255, 255, 255);
  font-size: 120%;
  margin-left: 50px;
}
