body {background-color: rgb(113, 206, 167);
    opacity: 100%;
    background-image: url("https://wallpaperaccess.com/full/1567666.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

.title {
  color: white;
  margin: 50px;
  font-size: 300%;
  text-align: center;
}

.about {
  color: rgb(255, 255, 255);
  font-family: verdana;
  font-size: 200%;
  text-align: center;
}

.sideTitle {
  color: white;
  font-size: 400%;
  margin: 50px;
}

.myFace {
 text-align: center;
 width: 100%;
 height: auto;
}

.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single-img {
  padding: 0 20px 20px;
}

.single-img:hover {
  transform: scale(1.2,1.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.footer {
  background-color: teal;
  width: 100%;
  text-align: center;
  color: rgb(128, 226, 189);
  font-family: verdana;
  font-size: 150%;
}

.subfooter {
  color: rgb(255, 255, 255);
  font-size: 120%;
  margin-left: 50px;
}
